* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000;
    min-height: 100vh;
  }
  
  // Theme Switcher //
  
  .theme-light {
    transition: ease-in .2s;
    p code {
      color: #24b47e;
      background-color: #00ffa21a;
    }
  }

  // Typography //

  h1 {
    font-size: 44px;
    font-weight: 900;
    color: rgb(15, 50, 86);
  }

  h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;
    color: rgb(15, 50, 86);
  }
  
 /* .theme-dark {
    transition: ease-in .2s;
    background: #121212;
  
    h1, h2, h3, h4, p, li {
      color: #fff;
    }
    blockquote p {
      color: rgba($color: #fff, $alpha: 0.7);
    }
    p code {
      color: #35DF79;
      background-color: #00ffa21a;
    }
    .markdown-body pre {
      background: rgba($color: #fff, $alpha: 0.15);
      color: #fff;
    }
    .markdown-body a {
      color: #01B7EE;
    }
    .markdown-body h4 {
      color: #fff;
    }
    .blog-text {
      .button {
        color: #fff;
        border-color: #fff;
      }
    }
    .navbar {
      a {
        color: #cbd5e0;
        &:hover {
          color: rgba($color: #cbd5e0, $alpha: 0.5);
        }
      }
    }
    .footer {
      background: rgba($color: #fff, $alpha: 0.05);
      p {
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
    .contact {
      input, textarea {
        color: #fff;
        border: 1px solid rgba($color: #fff, $alpha: 0.05);
        background: rgba($color: #fff, $alpha: 0.05);
      }
    }
  } 

  */
  
  // Navbar //
  
  .topline {
    background: #537DFE;
    padding: 5px;
  }
  
  .navbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  
    a {
      font-weight: 700;
      color: #2d3748;
      text-decoration: none;
      cursor: pointer;
  
      &.router-link-exact-active {
        color: #537DFE;
      }
      
      &:hover {
        color: rgba($color: #2d3748, $alpha: 0.5);
      }
    }
  }

  .logo {
    width: 300px;
    padding-top: 20px;
  }
  
  // Body //

  .home-page {
    overflow-x: hidden;
  }

  .hero {
    background: linear-gradient(0deg,#0c152e 25%,#101c3d 95%);
  }

  .splash {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      font-size: 65px;
      max-width: 800px;
    }
  }

  .flex-box {
    background: #f7f9fb;
    display: flex;
    width: 100vw;
    min-height: 300px;
    border-top: 1px solid rgba(12,21,46,.08);    
  }

  .right-image {
    flex: 1;
    background: url(../assets/amazon-center.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .left-text {
    text-align: left;
    padding: 5vw;
    max-width: 800px;
  }

  .section-one {
    background: #f7f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
  }

  .bar {
    border: 4px solid #537DFE;
    width: 100px;
  }

  .section-two {
    padding: 50px 0px;
    border-bottom: 1px solid rgba(12,21,46,.08);
  }

  .section-one, .section-two, .footer {
    border-top: 1px solid rgba(12,21,46,.08);
  }

  .logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .drop-logo {
    height: 35px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .contact {
    margin: 150px auto;
    h2 {
      margin-bottom: 20px;
    }
  }

  .max {
    max-width: 1200px;
  }
  

  
  // Contact //
  
  .contact {
    width: 70vw;
    max-width: 400px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      :focus {
        outline: none;
      }
    }
    input, textarea {
      font-family: Avenir;
      font-size: 14px;
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid rgba($color: #000, $alpha: 0.05);
      background: rgba($color: #000, $alpha: 0.02);
      margin-top: 10px;
    }
    textarea {
      min-height: 90px;
      resize: vertical;
    }
    button {
      font-weight: 700;
      margin: 20px 0 0;
      padding: 10px 40px;
      background: #537DFE;
      border: 1px solid #537DFE;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background: rgba($color: #537DFE, $alpha: 0.9);
      }
    }
    .form-btn {
      margin: auto;
    }
  }
  
  
  
  // Footer //
  
  .footer {
    margin-top: 0px;
    width: 100%;
    padding: 15px;
    background: #f7f9fb;
    p {
      font-size: 12px;
      font-weight: 300;
      color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  
  @media only screen and (max-width: 1168px) {
  
    .home, .sections, .blogs {
      max-width: 80vw;
    }
    
  }
  
  @media only screen and (max-width: 800px) {

  .flex-box {
    flex-direction: column;
  }

  .right-image {
    min-height: 300px;
  }

  .splash {
    height: 60vh;
    h1 {
      padding: 0px 30px;
      text-align: left;
      font-size: 40px;
      font-weight: 900;
    }
  }
  
  }
  
  // Mobile
  
  @media screen and (max-width: 560px) {
  
  h1 {
    font-size: 36px;
  }
  
  .home h1 {
    font-weight: 700;
  }
  
  .logo {
    margin-top: 0;
    margin-bottom: 20px;
    width: 230px;
  }
  
  .container, .skills, .contact {
    margin: 100px auto;
  }
  
  h2 span {
    font-weight: 700;
  }
  
  .flex-container {
    display: inline;
  }

  .text {
    margin: 0px;
    padding: 20px;
  }
  
  }
  
  